.idea/copyright/profiles_settings.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/mfn.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
composer.lock
conf/conf.php
docs/database/script_delete_document.sql
offline/uploadLexemeWordform.php
vendor/autoload.php
vendor/composer/ClassLoader.php
vendor/composer/LICENSE
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/easyrdf/easyrdf/CHANGELOG.md
vendor/easyrdf/easyrdf/DEVELOPER.md
vendor/easyrdf/easyrdf/LICENSE.md
vendor/easyrdf/easyrdf/README.md
vendor/easyrdf/easyrdf/composer.json
vendor/easyrdf/easyrdf/doap.php
vendor/easyrdf/easyrdf/lib/EasyRdf.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Collection.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Container.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Exception.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Format.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Graph.php
vendor/easyrdf/easyrdf/lib/EasyRdf/GraphStore.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Http.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Http/Client.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Http/Exception.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Http/Response.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Isomorphic.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/Boolean.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/Date.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/DateTime.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/Decimal.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/HTML.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/HexBinary.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/Integer.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Literal/XML.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Namespace.php
vendor/easyrdf/easyrdf/lib/EasyRdf/ParsedUri.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Arc.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Exception.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Json.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/JsonLd.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/JsonLdImplementation.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Ntriples.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Rapper.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/RdfPhp.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/RdfXml.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Rdfa.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Redland.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Parser/Turtle.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Resource.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/Arc.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/GraphViz.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/Json.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/JsonLd.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/JsonLd_real.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/Ntriples.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/Rapper.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/RdfPhp.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/RdfXml.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Serialiser/Turtle.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Sparql/Client.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Sparql/Result.php
vendor/easyrdf/easyrdf/lib/EasyRdf/TypeMapper.php
vendor/easyrdf/easyrdf/lib/EasyRdf/Utils.php
vendor/easyrdf/easyrdf/scripts/copyright_updater.php
vendor/ml/iri/ML/IRI/.gitignore
vendor/ml/iri/ML/IRI/.travis.yml
vendor/ml/iri/ML/IRI/IRI.php
vendor/ml/iri/ML/IRI/LICENSE
vendor/ml/iri/ML/IRI/README.md
vendor/ml/iri/ML/IRI/Test/IriTest.php
vendor/ml/iri/ML/IRI/Test/bootstrap.php
vendor/ml/iri/ML/IRI/composer.json
vendor/ml/iri/ML/IRI/phpunit.xml.dist
vendor/ml/json-ld/ML/JsonLD/.gitignore
vendor/ml/json-ld/ML/JsonLD/.travis.yml
vendor/ml/json-ld/ML/JsonLD/DefaultDocumentFactory.php
vendor/ml/json-ld/ML/JsonLD/Document.php
vendor/ml/json-ld/ML/JsonLD/DocumentFactoryInterface.php
vendor/ml/json-ld/ML/JsonLD/DocumentInterface.php
vendor/ml/json-ld/ML/JsonLD/DocumentLoaderInterface.php
vendor/ml/json-ld/ML/JsonLD/Exception/InvalidQuadException.php
vendor/ml/json-ld/ML/JsonLD/Exception/JsonLdException.php
vendor/ml/json-ld/ML/JsonLD/FileGetContentsLoader.php
vendor/ml/json-ld/ML/JsonLD/Graph.php
vendor/ml/json-ld/ML/JsonLD/GraphInterface.php
vendor/ml/json-ld/ML/JsonLD/JsonLD.php
vendor/ml/json-ld/ML/JsonLD/JsonLdSerializable.php
vendor/ml/json-ld/ML/JsonLD/LICENSE
vendor/ml/json-ld/ML/JsonLD/LanguageTaggedString.php
vendor/ml/json-ld/ML/JsonLD/NQuads.php
vendor/ml/json-ld/ML/JsonLD/Node.php
vendor/ml/json-ld/ML/JsonLD/NodeInterface.php
vendor/ml/json-ld/ML/JsonLD/Processor.php
vendor/ml/json-ld/ML/JsonLD/Quad.php
vendor/ml/json-ld/ML/JsonLD/QuadParserInterface.php
vendor/ml/json-ld/ML/JsonLD/QuadSerializerInterface.php
vendor/ml/json-ld/ML/JsonLD/README.md
vendor/ml/json-ld/ML/JsonLD/RdfConstants.php
vendor/ml/json-ld/ML/JsonLD/RemoteDocument.php
vendor/ml/json-ld/ML/JsonLD/Test/DocumentTest.php
vendor/ml/json-ld/ML/JsonLD/Test/EarlReportGenerator.php
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/dataset.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-compacted.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-context.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-expanded.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-flattened.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-in.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/Fixtures/sample-serialized-document.jsonld
vendor/ml/json-ld/ML/JsonLD/Test/GraphTest.php
vendor/ml/json-ld/ML/JsonLD/Test/JsonLDApiTest.php
vendor/ml/json-ld/ML/JsonLD/Test/JsonTestCase.php
vendor/ml/json-ld/ML/JsonLD/Test/NQuadsTest.php
vendor/ml/json-ld/ML/JsonLD/Test/TestManifestIterator.php
vendor/ml/json-ld/ML/JsonLD/Test/ValueTest.php
vendor/ml/json-ld/ML/JsonLD/Test/W3CTestSuiteTest.php
vendor/ml/json-ld/ML/JsonLD/Test/bootstrap.php
vendor/ml/json-ld/ML/JsonLD/TypedValue.php
vendor/ml/json-ld/ML/JsonLD/Value.php
vendor/ml/json-ld/ML/JsonLD/composer.json
vendor/ml/json-ld/ML/JsonLD/phpunit.xml.dist
.idea/.name
.idea/misc.xml
vendor/jCryption-master/.gitignore
vendor/jCryption-master/README.md
vendor/jCryption-master/jquery.jcryption.3.1.0.js
vendor/jCryption-master/perl/README
vendor/jCryption-master/perl/jcryption.cgi
vendor/jCryption-master/perl/jquery.jcryption.3.0.1.js
vendor/jCryption-master/php/bi-directonal.html
vendor/jCryption-master/php/example.html
vendor/jCryption-master/php/form.php
vendor/jCryption-master/php/include/jcryption.php
vendor/jCryption-master/php/include/sqAES.php
vendor/jCryption-master/php/jcryption.php
