.link {
    fill: none;
    /*stroke: #666;*/
    stroke-width: 1.5px;
}

.linkOver {
    stroke-width: 2.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

text {
    font: 10px sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    color: black;
}

.nodeSelected {
    stroke: black;
    stroke-width: 1px;
}

.nodeNormal {
    stroke: #CCC;
    stroke-width: 1px;
}
.entity_word {
    fill: #D80000;
    color: #D80000;
}

.entity_cxn {
    fill: #008000;
    color: #008000;
}

.entity_frame {
    fill: #D80000;
    color: #D80000;
}

.entity_st {
    fill: black;
}

.entity_fe {
    fill: white;
    stroke: black;
}

.entity_ce {
    fill: white;
    stroke: black;
}

.entity_lu {
    fill: white;
    stroke: black;
}

.entity_lemma {
    fill: white;
    stroke: black;
}

.entity_rel {
    fill: white;
    stroke: black;
}

.datagrid-row-selected {
    background: white;
    color: #000000;
}

.optional {
    stroke-dasharray: 10,10;
}

.rel_common {
    stroke: #DDD;
}
marker path.rel_common {
    fill: #DDD;
}

.rel_elementof {
    stroke: #9CF;
}
marker path.rel_elementof {
    fill: #9CF;
}
.rel_inheritance {
    stroke: #F9C;
}
marker path.rel_inheritance {
    fill: #F9C;
}
.rel_constraint {
    stroke: #DDD;
}
marker path.rel_constraint {
    fill: #DDD;
}

.rel_constraint_before {
    stroke: #CFC;
}
marker path.rel_constraint_before {
    fill: #CFC;
}

.rel_evokes {
    stroke: #9F9;
}
marker path.rel_evokes {
    fill: #9F9;
}

.rel_inhibitory {
    stroke: #FF9;
}
marker path.rel_inhibitory {
    fill: #FF9;
}

{{foreach $data->relationData as $relation}}
.{{$relation['id']}} {
stroke: {{$relation['color']|noescape}};
}
marker path.{{$relation['id']}} {
fill: {{$relation['color']|noescape}};
}
{{/foreach}}
