        <script src={{$manager->getStaticURL($manager->getApp(), 'scripts/auth0/lock.min.js')}}></script>

        <script>
          var AUTH0_CLIENT_ID = {{$data->client_id}};
          var AUTH0_DOMAIN = {{$data->domain}};
          var AUTH0_CALLBACK_URL = {{$data->redirect_uri}};

          $(document).ready(function() {

              var lock = new Auth0Lock(AUTH0_CLIENT_ID, AUTH0_DOMAIN, { auth: {
                  redirectUrl: AUTH0_CALLBACK_URL
                  , responseType: 'code'
                  , params: {
                      scope: 'openid'
                  }
              }});

              $('.btn-login').click(function(e) {
                  e.preventDefault();
                  lock.show();
              });

              $('.btn-logout').click(function(e) {
                  e.preventDefault();
                  window.location='logout.php';
              });
          });
        </script>


        <div class="container">
            <div class="login-page clearfix">
              <?php if(!$userInfo): ?>
              <div class="login-box auth0-box before">
                <img src="https://i.cloudup.com/StzWWrY34s.png" />
                <h3>Auth0 Example</h3>
                <p>Zero friction identity infrastructure, built for developers</p>
                <a class="btn btn-primary btn-lg btn-login btn-block">SignIn</a>
              </div>
              <?php else: ?>
              <div class="logged-in-box auth0-box logged-in">
                <h1 id="logo"><img src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png" /></h1>
                <img class="avatar" src="<?php echo $userInfo['picture'] ?>"/>
                <h2>Welcome <span class="nickname"><?php echo $userInfo['nickname'] ?></span></h2>
                <button class="btn-m btn-warning btn-logout">Logout</button>
              </div>
              <?php endif ?>
            </div>
        </div>
